body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #e76f61;
    margin: 10px;
    min-height: 100vh;
    max-width: 1000px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    color: white;
    padding: 5px 10px;
    margin-top: 50px;
    padding: 20px 30px;
    font-size: larger;
}

input {
    background-color: #e76f61;
    color: white;
    padding: 8px;
    width: 200px;
    border: 1px solid #1c1f36;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 16px;
}

input:focus {
    background-color: #e76f61;
    color: white;
}


button {
    background-color: #1c1f36;
    color: #e76f61;
    border: 1px solid grey;
    padding: 8px 16px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
}


.output {
    background-color: #1c1f36;
    color: white;
    margin-bottom: 20px;
    width: 80%;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

